/* Global Styles */
body {
    background-color: #020617;
    /* slate-950 */
    color: #e2e8f0;
    /* slate-200 */
    -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #020617;
    /* slate-950 */
}

::-webkit-scrollbar-thumb {
    background-color: #1e293b;
    /* slate-800 */
    border-radius: 9999px;
    /* rounded-full */
    border: 2px solid #020617;
    /* slate-950 */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #334155;
    /* slate-700 */
}

/* Selection Color */
::selection {
    background-color: rgba(99, 102, 241, 0.3);
    /* indigo-500/30 */
    color: #c7d2fe;
    /* indigo-200 */
}